.container-box-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;  
  height: auto;
  width: 500px;
  margin: 20px auto;
  min-width: 350px;
  box-sizing: border-box;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  margin: 20px;
}

.example-full-width {
  width: 100%;
}

button{
  display: flex;
  margin: 5px auto;
}
