@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

footer {
  padding: 50px 0px;
  margin-top: 20px;
  background-color: mat-color($primary);
  text-align: center;
  .container {
    h3 {
      color: white;
    }
  }
}