.product-inventory{
  width: 95%;
  margin: 3%;
}

.acciones-productos{
  margin: 5px;
}

@media (max-width: 575px) {
  .product-inventory-hidde-column{
    display: none;
  }

  .product-inventory-td-response{
    text-align: center;
    padding-right: 5px;
  }
}

@media (max-width: 900px) {
  .product-inventory-hidde-column{
    display: none;
  }

  .product-inventory-td-response{
    text-align: center;
    padding-right: 5px;
  }
}